name: Lint Workflow

on:
  push:
    branches-ignore:
      - main
  pull_request:
    branches:
      - integracao
      - test/*
      - feat/*
      - ci/*
      - feature/*

jobs:
  lint:
    name: Code Style Verification
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint
